{{#each errors as |error|}}
  <div class="alert alert-danger">{{error}}</div>
{{/each}}

{{#each infos as |info|}}
  <div class="alert alert-danger">{{info}}</div>
{{/each}}

{{#each successes as |success|}}
  <div class="alert alert-success">{{success}}</div>
{{/each}}
