<h3>{{poll.title}}</h3>

<canvas id="pollChart" width="300" height="150"></canvas>

<script>
window.onload = function(){
  var ctx = document.getElementById("pollChart");
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [
          {{#each poll.options as |option| }}
            '{{option.title}}',
          {{/each }}
        ],
        datasets: [{
            label: '# of Votes',
            data: [
              {{#each poll.options as |option| }}
                '{{option.votes}}',
              {{/each }}
            ]
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
  });
}
</script>
