<h3>Poll created with success!</h3>
<p>
  Share with your friends:
  <a href="https://nameless-shelf-74727.herokuapp.com/polls/vote/{{poll._id}}">
    https://nameless-shelf-74727.herokuapp.com/polls/vote/{{poll._id}}
  </a>
</p>
