<h1>Login</h1>

<form class="m-t-3" method="POST" action="/users/login">
  <fieldset class="form-group">
    <label for="form-email">Email address</label>
    <input name="email" type="email" class="form-control" id="form-email" placeholder="Enter your email">
    <small class="text-muted">We'll never share your email with anyone else.</small>
  </fieldset>
  <fieldset class="form-group">
    <label for="form-password">Password</label>
    <input name="password" type="password" class="form-control" id="form-password" placeholder="Password">
  </fieldset>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
